<section class="section">
  <div class="container">
    <h1 class="title">
      Albums
    </h1>
    <h2 class="subtitle">
      (1,266 Albums)
    </h2>
    <hr>
    <div class="columns">
      <div class="column is-half album">
        <div class="box has-background-white-bis">
          <div class="media">
            <div class="media-left">
              <figure class="image is-128x128">
                <img src="https://82960681ee8c5d1f8608-075754e5d6db374fc82a52ca382cd333.ssl.cf4.rackcdn.com/uploads/album/cover/93/small_Ayreon--01011001.jpg">
              </figure>
            </div>
            <div class="media-content">
              <div class="is-size-3 has-text-centered">
                01011001
              </div>
              <div class="is-size-5 has-text-centered">
                by Ayreon
                <span class="is-size-6 has-text-grey">(15 tracks)</span>
              </div>
              <div class="content">
                <ul>
                  <li>1. Age Of Shadows</li>
                  <li>2. Comatose</li>
                  <li>3. Liquid Eternity</li>
                  <li>4. Connect The Dots</li>
                  <li>5. Beneath The Waves</li>
                  <li>6. Newborn Race</li>
                  <li>...</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-half album">
        <div class="box has-background-white-bis">
          <div class="media">
            <div class="media-left">
              <div class="level">
                <figure class="image is-128x128">
                  <img src="https://82960681ee8c5d1f8608-075754e5d6db374fc82a52ca382cd333.ssl.cf4.rackcdn.com/uploads/album/cover/1152/small_Various--100_Essential_1980s.jpg">
                </figure>
              </div>
            </div>
            <div class="media-content">
              <div class="is-size-3 has-text-centered">
                100 Essential 1980s
              </div>
              <div class="is-size-5 has-text-centered">
                by Various
                <span class="is-size-6 has-text-grey">(100 tracks)</span>
              </div>
              <div class="content">
                <ul>
                  <li>1. Soft Cell - Tainted Love</li>
                  <li>2. Yazz - The Only Way Is Up</li>
                  <li>3. Kool &amp; The Gang - Get Down On It</li>
                  <li>4. Cameo - Word Up</li>
                  <li>5. Commodores - Nightshift</li>
                  <li>6. Leon Haywood - Don&#39;t Push It Don&#39;t Force It</li>
                  <li>...</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
