<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-10 is-offset-1">
        <h1 class="title">Sign up</h1>
        <hr>
      </div>
    </div>
  </div>
</section>
