<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-10 is-offset-1">
        <h1 class="title mb-0">Sign up</h1>
        <div class="divider"></div>

        <div class="box has-background-white-bis">
          <div class="panel is-danger">
            <div class="panel-block has-background-danger-light has-text-danger">
              Email is invalid
            </div>
            <div class="panel-block has-background-danger-light has-text-danger">
              Email can't be blank
            </div>
            <div class="panel-block has-background-danger-light has-text-danger">
              Password is too short (minimum is 9 characters)
            </div>
            <div class="panel-block has-background-danger-light has-text-danger">
              Name is too short (minimum is 4 characters)
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Email</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control has-icons-left">
                  <input class="input" type="email">
                  <span class="icon is-small is-left">
                    <%= fa_icon "envelope" %>
                  </span>
                </p>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Password</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control has-icons-left">
                  <input class="input" type="password">
                  <span class="icon is-small is-left">
                    <%= fa_icon "lock" %>
                  </span>
                </p>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Account Name</label>
            </div>
            <div class="field-body">
              <div class="field has-addon">
                <p class="control has-icons-left">
                  <input class="input" type="text" data-behavior="new-account-name-target">
                  <span class="icon is-small is-left">
                    <%= fa_icon "user" %>
                  </span>
                </p>
              <p class="help" data-behavior="new-account-name-help-target">An account name needs to be between 4 to 20 characters made up only of letters, digits and hyphens.</p>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label">
              <!-- Left empty for spacing -->
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <button class="button is-link">
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
