<div class="columns" data-behavior=<%= "#{type}-search-form-target" %> style="display: none;">
  <div class="column is-8 is-offset-2">
    <div class="field has-addons">
      <div class="control is-expanded">
        <input class="input" type="text" placeholder="<%= "Search #{type}s..." %>" data-behavior=<%= "#{type}-search-field-target" %> >
      </div>
      <div class="control">
        <a class="button">
          <span class="icon">
            <%= fa_icon "search" %>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
