$section-padding: 2rem 1.5rem;
$footer-padding: 1rem;
$navbar-height: 3.75rem;

@import '~bulmaswatch/yeti/_variables';
@import '~bulma';
@import '~bulmaswatch/yeti/_overrides';
$fa-font-path: "~font-awesome/fonts/";
@import "~font-awesome/scss/font-awesome";

// --------------------------------------------------------------------------

@import url("https://fonts.googleapis.com/css?family=Capriola");

// Colors.
$grey-dark:        #515151;
$grey-mid-dark:    #777;
$grey-mid-light:   #eee;
$grey-light:       #f8f8f8;
$black-text:       #111;
$black-background: #333;
$blue-yeti:        #3273dc;
$green-yeti:       #3c9a5f;
$green-shade:      #9bd8b2;
$red-yeti:         #f04124;

// Yeti customizations.
.button,
.notification {
  border-radius: 2px;
}

// Sticky footer.
// See: https://github.com/jgthms/bulma/issues/47
//      https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#main {
  flex: 1;
}

.navbar-brand a {
  font-family: "Capriola";
  font-size: 1.15em;
}

.footer {
  ul {
    margin-top: 0;
    margin-bottom: 0;

    li {
      display: inline;
      margin-right: 1em;

      a {
        color: $grey-dark;

        &:hover {
          color: $black-text;
        }
      }
    }
  }
}

.flash-messages {
  position: fixed;
  z-index: 9999;
  top: 2rem;
  left: 2rem;
}

.notification {
  width: 75vw;
}

.details {
  p {
    margin: 0.5rem 0 1.25rem;
  }
}
