// ===================================================================
// Bulma customizations.
// ===================================================================

$section-padding: 2rem 1.5rem;
$footer-padding: 1rem;
$navbar-height: 3.75rem;
$control-radius: 3px;
$input-radius: 3px;
$title-color: #333;
$label-color: #333;
$notification-radius: 3px;
$divider-margin-inner-size: 0px;
$divider-margin-size: 0.5rem 0 25px;
$tag-radius: 4px;

// ===================================================================
// Imports.
// ===================================================================

@import '~bulmaswatch/yeti/_variables';
@import '~bulma';
@import '~bulmaswatch/yeti/_overrides';
$fa-font-path: "~font-awesome/fonts/";
@import "~font-awesome/scss/font-awesome";
@import "@creativebulma/bulma-divider";
@import "@creativebulma/bulma-tooltip";
@import url("https://fonts.googleapis.com/css?family=Capriola");

// Yeti colors.
$color-grey-dark:    #333;
$color-grey-mid:     #ddd;
$color-grey-light:   #eee;
$color-grey-lighter: #f5f5f5;
$color-blue:         #3273dc;
$color-red:          #f04124;

// ===================================================================
// Yeti customizations.
// ===================================================================

.box {
  box-shadow: 0 0.5em 1em -0.125em $color-grey-light, 0 0 0 1px $color-grey-light;
}

.notification {
  width: 75vw;
}

.navbar-brand a {
  font-family: "Capriola";
  font-size: 1.15em;
}

.button.is-light {
  border-color: $color-grey-mid;
}

.button.is-light:focus {
  border-color: $color-grey-mid;
}

// ===================================================================
// Custom helpers.
// ===================================================================

// The parent element may need to have 'min-width: 0;' set for overflow to
// function correctly on flexbox elements.
// See: https://css-tricks.com/flexbox-truncated-text
.is-overflowed {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.is-fullwidth {
  padding: 0px !important;
}

.is-size-mid-6-7 {
  font-size: 0.85rem;
}

.is-link-custom {
  color: $color-grey-dark;

  &:hover {
    color: $color-blue;
  }
}

.has-link-custom-colors {
  a {
    color: $color-grey-dark;

    &:hover {
      color: $color-blue;
    }
  }
}

.has-image-outline {
  border: 1px solid $color-grey-mid;
  border-radius: 4px;

  &:hover {
    border: 1px solid $color-blue;
  }
}

// Sticky footer.
// See: https://github.com/jgthms/bulma/issues/47
//      https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

// ===================================================================
// Custom styling per identifier.
// ===================================================================

#main {
  flex: 1;
}

#layout-footer {
  border-top: 1px solid $color-grey-light;

  ul {
    li {
      display: inline;

      @extend .has-link-custom-colors;
    }
  }
}

#flash-messages {
  position: fixed;
  z-index: 9999;
  top: 2rem;
  left: 2rem;
}

#details {
  p {
    @extend .mt-2;
    @extend .mb-4;
  }
}

#home {
  #platters-splash {
    .platters-title {
      font-size: 4.5rem;
    }

    .platters-subtitle {
      font-size: 1.5rem;
    }

    .platters-logo {
      img {
        height: 23rem;
      }
    }
  }

  #album-of-the-day {
    @extend .has-link-custom-colors;

    img {
      height: 400px;
      width: 400px;
      @extend .has-image-outline;
    }
  }
}

#artists {
  .artist {
    @extend .px-0;
    @extend .py-0;

    a {
      color: $color-grey-dark;
    }

    &:hover {
      background-color: $color-grey-lighter;
    }
  }
}

#artists-sidebar {
  .panel-block {
    justify-content: center;

    .album {
      min-width: 0;

      img {
        border-radius: 3px;
        border: 1px solid $color-grey-mid;
      }
    }

    .comment {
      min-width: 0;

      img {
        border: 1px solid $color-grey-mid;
      }
    }
  }
}

#albums {
  .filter {
    // Center the select button within the column.
    .is-centered {
      margin: auto;
    }
  }

  .album {
    @extend .has-link-custom-colors;

    .media-left {
      img {
        @extend .has-image-outline;
      }
    }

    .media-content {
      min-width: 0;

      ul {
        list-style: none;

        li {
          @extend .is-overflowed;
        }
      }
    }
  }
}

#artist {
  #artist-albums {
    .media-content {
      min-width: 0;

      // Disable tag underline hovering.
      a.tag:hover {
        text-decoration: none;
      }

      ul {
        list-style: none;

        li {
          display: inline;
        }
      }
    }
  }
}

#comment-length {
  font-weight: lighter;
  margin-right: 0.5rem;
}

.comment-error {
  color: $color-red;
}

#album {
  .cover {
    img {
      max-height: 350px;
      max-width: 350px;
      border: 1px solid $color-grey-mid;
      border-radius: 4px;
    }
  }

  .tracks-column {
    position: relative;
  }

  .tracks-gradient {
    position: absolute;
    bottom: 3em;
    left: 0;
    width: 100%;
    height: 10em;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff);
  }
}
