// Bulma customizations.
$section-padding: 2rem 1.5rem;
$footer-padding: 1rem;
$navbar-height: 3.75rem;
$control-radius: 3px;
$input-radius: 3px;
$title-color: #333;
$label-color: #333;
$notification-radius: 3px;

@import '~bulmaswatch/yeti/_variables';
@import '~bulma';
@import '~bulmaswatch/yeti/_overrides';
$fa-font-path: "~font-awesome/fonts/";
@import "~font-awesome/scss/font-awesome";
@import "@creativebulma/bulma-tooltip";

// --------------------------------------------------------------------------

@import url("https://fonts.googleapis.com/css?family=Capriola");

// Colors.
$color-grey-dark:  #222;
$color-grey-mid:   #ccc;
$color-grey-light: #eee;
$color-blue:       #3273dc;
$color-red:        #f04124;

// Yeti customizations.
.box {
  box-shadow: 0 0.5em 1em -0.125em $color-grey-light, 0 0 0 1px $color-grey-light;
}

// Sticky footer.
// See: https://github.com/jgthms/bulma/issues/47
//      https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#main {
  flex: 1;
}

.navbar-brand a {
  font-family: "Capriola";
  font-size: 1.15em;
}

.footer {
  border-top: 1px solid $color-grey-light;

  ul {
    li {
      display: inline;

      a {
        color: $color-grey-dark;

        &:hover {
          color: $color-blue;
        }
      }
    }
  }
}

.flash-messages {
  position: fixed;
  z-index: 9999;
  top: 2rem;
  left: 2rem;
}

.notification {
  width: 75vw;
}

.is-text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.is-fullwidth {
  padding: 0px !important;
}

.details {
  p {
    @extend .mt-2;
    @extend .mb-4;
  }
}

.albums {
  .filter {
    // Center the select button within the column.
    .is-centered {
      margin: auto;
    }
  }

  .album {
    a {
      color: $color-grey-dark;

      &:hover {
        color: $color-blue;
      }
    }

    .media-left {
      img {
        border-radius: 4px;
        border: 1px solid $color-grey-mid;

        &:hover {
          border: 1px solid $color-blue;
        }
      }
    }

    .media-content {
      // Needed for text overflow to work on a flexbox element.
      // See: https://css-tricks.com/flexbox-truncated-text
      min-width: 0;

      .icons {
        @extend .mt-2;

        i {
          @extend .ml-2;
        }
      }

      ul {
        list-style: none;
        font-size: 0.85rem;

        li {
          @extend .is-text-overflow;
        }
      }
    }
  }
}
