// ===================================================================
// Bulma customizations.
// ===================================================================

$body-background-color: #fdfdfd;
$control-radius: 3px;
$divider-margin-inner-size: 0px;
$divider-margin-size: 0.5rem 0 25px;
$footer-padding: 1rem;
$input-radius: 3px;
$label-color: #333;
$modal-card-foot-radius: 4px;
$modal-card-head-radius: 4px;
$navbar-height: 3.75rem;
$notification-radius: 3px;
$section-padding: 2rem 1.5rem;
$tag-radius: 4px;
$title-color: #333;

// ===================================================================
// Imports.
// ===================================================================

@import 'bulmaswatch/yeti/_variables';
// Yeti _variables overrides.
$border:            #e5e5e5;
$body-size:         16px;
$grey-darker:       #333;
$grey-dark:         #4a4a4a;
$family-sans-serif: "Source Sans Pro", sans-serif;
$box-shadow:        0 0.5em 1em -0.125em $grey-lighter, 0 0 0 1px $grey-lighter;
$panel-shadow:      0 0.5em 1em -0.125em $grey-lighter, 0 0 0 1px $grey-lighter;
@import 'bulma/bulma';
@import 'bulmaswatch/yeti/_overrides';
$fa-font-path: "font-awesome/fonts/";
@import 'font-awesome/scss/font-awesome';
@import '@creativebulma/bulma-divider/src/sass';
@import '@creativebulma/bulma-tooltip/src/sass';
@import url('https://fonts.googleapis.com/css?family=Capriola');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&display=swap');

// ===================================================================
// Yeti customizations.
// ===================================================================

$grey-lightest: #f5f5f5;

.is-size-7 {
  font-size: 0.85rem !important;
}

.notification {
  width: 75vw;
}

.navbar-brand a {
  font-family: "Capriola";
  font-size: 1.15em;
}

.button.is-light {
  border-color: $grey-light;
}

.button.is-light:focus {
  border-color: $grey-light;
}

// ===================================================================
// Custom helpers.
// ===================================================================

// The parent element may need to have 'min-width: 0;' set for overflow to
// function correctly on flexbox elements.
// See: https://css-tricks.com/flexbox-truncated-text
.is-overflowed {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.is-fullwidth {
  padding: 0px !important;
}

.is-link-custom {
  color: $grey-darker;

  &:hover {
    color: $blue;
  }
}

.has-link-custom-colors {
  a {
    @extend .is-link-custom
  }
}

.has-image-outline {
  border: 1px solid $grey-light;
  border-radius: 4px;

  &:hover {
    border: 1px solid $blue;
  }
}

// Sticky footer.
// See: https://github.com/jgthms/bulma/issues/47
//      https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

// ===================================================================
// Custom styling per identifier.
// ===================================================================

#main {
  flex: 1;
}

#layout-footer {
  border-top: 1px solid $grey-lighter;

  ul {
    li {
      display: inline;

      @extend .has-link-custom-colors;
    }
  }
}

#flash-messages {
  position: fixed;
  z-index: 9999;
  top: 2rem;
  left: 2rem;
}

#details {
  p {
    @extend .mt-2;
    @extend .mb-4;
  }
}

#home {
  #platters-splash {
    .platters-title {
      font-size: 4.5rem;
    }

    .platters-subtitle {
      font-size: 1.5rem;
    }

    .platters-logo {
      img {
        height: 23rem;
      }
    }
  }

  #album-of-the-day {
    @extend .has-link-custom-colors;

    img {
      max-width: 400px;
      @extend .has-image-outline;
    }
  }
}

#artists {
  .artist {
    @extend .px-0;
    @extend .py-0;

    a {
      color: $grey-dark;
    }

    &:hover {
      background-color: $grey-lightest;
    }
  }
}

#artists-sidebar {
  .panel-block {
    justify-content: center;

    .album {
      min-width: 0;

      img {
        border-radius: 3px;
        border: 1px solid $grey-light;
      }
    }

    .comment {
      min-width: 0;

      img {
        border: 1px solid $grey-light;
      }
    }
  }
}

#albums {
  .filter {
    // Center the select button within the column.
    .is-centered {
      margin: auto;
    }
  }

  .album {
    @extend .has-link-custom-colors;

    .media-left {
      img {
        @extend .has-image-outline;
      }
    }

    .media-content {
      min-width: 0;

      ul {
        list-style: none;

        li {
          @extend .is-overflowed;
        }
      }
    }
  }
}

#artist {
  #artist-albums {
    .media-content {
      min-width: 0;

      // Disable tag underline hovering.
      a.tag:hover {
        text-decoration: none;
      }

      ul {
        list-style: none;

        li {
          display: inline;
        }
      }
    }
  }
}

#comment-length {
  font-weight: lighter;
  margin-right: 0.5rem;
}

.comment-error {
  color: $red;
}

#album {
  .cover {
    img {
      max-height: 350px;
      max-width: 350px;
      border: 1px solid $grey-light;
      border-radius: 4px;
    }
  }

  .tracks-column {
    position: relative;
  }

  .tracks-gradient {
    position: absolute;
    bottom: 3em;
    left: 0;
    width: 100%;
    height: 10em;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff);
  }
}
